

<% include partials/header %>

<h2>All Posts:</h2>

<% allBlogs.forEach(function(blog){ %>
    <div id="indexPost">
        <h2><%= blog.title %><span id="indexTitleDate"><%= blog.created.toDateString() %></span></h2>
        <img id="indexImage" src="<%= blog.image %>">
        <p><%= blog.body.substring(0, 120) %>...</p>
        <a href="/<%= blog._id %>" id="indexMoreLink">READ MORE...</a>
    </div><br><br>
<% }); %>

<% include partials/footer %>

